<section id="home" class="w3l-banner pb-5">
    <div class="container pb-md-3">
        <div class="banner-wrapper text-center">
            <div class="">
                <span class="text">Hakkımda</span>
                <h1 class="mb-4 title">
                    Hello, <span class="type-js"><span class="text-js">I’m Hande Mencik</span></span><br>
                    Ben bir Yazılım Geliştiriciyim.
                </h1>
                <p class="mx-lg-5">
                    <strong>.Net</strong> ile <strong>Web Geliştirme</strong> alanında uzmanım. Bir çok yanilikçi teknolojiyi kullanarak sizlere en iyi hizmeti sunmak için buradayım!
                </p>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-lg-auto col-md-10">
                    <img src="~/Templates/iportfolio-starter/assets/images/banner.png" alt="" class="img-fluid mt-lg-5 mt-3">
                </div>
            </div>
            <ul class="follow-social">
                <li><p>Follow me </p></li>
                <li><a href="https://github.com/HandeMencik"><span class="fa fa-github"></span></a></li>
                <li><a href="https://www.linkedin.com/in/hande-mencik-034b5a287/"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="https://www.behance.net/"><span class="fa fa-behance"></span></a></li>
                <li><a href="https://x.com/?lang=tr"><span class="fa fa-twitter"></span></a></li>

            </ul>
        </div>
    </div>
</section>
