@model List<MyPortfolio.Models.Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeteneklerim</h2>

<table class="table table-bordered">
    <tr>
        
        <th>Yetenek</th>
        <th>Yetenek Seviyesi</th>
        <th>Sil</th>
        <th>Güncelle</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillTitle</td>
            <td>@item.SkillValue</td>           
            <td><a href="/Skill/DeletedSkill/@item.SkillID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Skill/UpdatedSkill/@item.SkillID" class="btn btn-outline-success">Güncelle</a></td>
            

        </tr>
    }

</table>